.body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.Menu {
	display: inline-block;
	border: 1px solid black;
	margin: 5px;
	width: 200px;
	
}

.Menu .description {
	padding: 10px;
	text-align: center;
	
}

.Menu:hover {
	border: 1px solid black;
	
	
}

.Menu img{
	width: 100%;
	height: auto;
	
}

.Menu .label .input